Repository hionnode/akasha-lekha: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

content: publish Phases 6-8 — API Design, Backend EC2, Load Testing (Parts 23-34)
  apps/web/src/content/blog/aws-for-startups/23-api-design-rest.mdx
  apps/web/src/content/blog/aws-for-startups/24-request-validation-openapi.mdx
  apps/web/src/content/blog/aws-for-startups/25-mocking-external-services.mdx
  apps/web/src/content/blog/aws-for-startups/26-e2e-testing-playwright.mdx
  apps/web/src/content/blog/aws-for-startups/27-testing-in-ci.mdx
  apps/web/src/content/blog/aws-for-startups/28-ec2-compute-fundamentals.mdx
  apps/web/src/content/blog/aws-for-startups/29-backend-bun-signoz.mdx
  apps/web/src/content/blog/aws-for-startups/30-authentication-clerk.mdx
  apps/web/src/content/blog/aws-for-startups/31-backend-python-fastapi.mdx
  apps/web/src/content/blog/aws-for-startups/32-backend-go-api.mdx
  apps/web/src/content/blog/aws-for-startups/33-auto-scaling-groups.mdx
  apps/web/src/content/blog/aws-for-startups/34-k6-human-judgment.mdx
Due: none

content: publish Phases 9-11 — Database, Containers, CI/CD (Parts 35-47)
  apps/web/src/content/blog/aws-for-startups/35-rds-postgres.mdx
  apps/web/src/content/blog/aws-for-startups/36-database-operations.mdx
  apps/web/src/content/blog/aws-for-startups/37-secrets-manager.mdx
  apps/web/src/content/blog/aws-for-startups/38-elasticache-redis.mdx
  apps/web/src/content/blog/aws-for-startups/39-docker-production.mdx
  apps/web/src/content/blog/aws-for-startups/40-ecr-container-registry.mdx
  apps/web/src/content/blog/aws-for-startups/41-ecs-fargate-bun.mdx
  apps/web/src/content/blog/aws-for-startups/42-ecs-fargate-python-go.mdx
  apps/web/src/content/blog/aws-for-startups/43-full-stack-preview.mdx
  apps/web/src/content/blog/aws-for-startups/44-k6-containers.mdx
  apps/web/src/content/blog/aws-for-startups/45-github-actions-ci.mdx
  apps/web/src/content/blog/aws-for-startups/46-github-actions-oidc.mdx
  apps/web/src/content/blog/aws-for-startups/47-production-deployment.mdx
Due: none

content: publish Phases 12-14 — Serverless, Event-Driven, Observability (Parts 48-59b)
  apps/web/src/content/blog/aws-for-startups/48-lambda-fundamentals.mdx
  apps/web/src/content/blog/aws-for-startups/49-lambda-bun.mdx
  apps/web/src/content/blog/aws-for-startups/50-api-gateway.mdx
  apps/web/src/content/blog/aws-for-startups/51-api-gateway-python-go.mdx
  apps/web/src/content/blog/aws-for-startups/52-serverless-patterns.mdx
  apps/web/src/content/blog/aws-for-startups/53-k6-serverless.mdx
  apps/web/src/content/blog/aws-for-startups/54-sqs-queues.mdx
  apps/web/src/content/blog/aws-for-startups/55-sns-eventbridge.mdx
  apps/web/src/content/blog/aws-for-startups/56-websockets.mdx
  apps/web/src/content/blog/aws-for-startups/57-ses-email.mdx
  apps/web/src/content/blog/aws-for-startups/58-event-driven-patterns.mdx
  apps/web/src/content/blog/aws-for-startups/59-debugging-production.mdx
  apps/web/src/content/blog/aws-for-startups/59b-debugging-decision-tree.mdx
Due: none

content: publish Phases 15-17 — Dashboards, Production Readiness, Capstone (Parts 60-70)
  apps/web/src/content/blog/aws-for-startups/60-opentelemetry-mastery.mdx
  apps/web/src/content/blog/aws-for-startups/61-signoz-dashboards-alerts.mdx
  apps/web/src/content/blog/aws-for-startups/62-feature-flags-guardrails.mdx
  apps/web/src/content/blog/aws-for-startups/63-incident-response.mdx
  apps/web/src/content/blog/aws-for-startups/64-cost-management.mdx
  apps/web/src/content/blog/aws-for-startups/65-security-posture.mdx
  apps/web/src/content/blog/aws-for-startups/66-compliance-basics.mdx
  apps/web/src/content/blog/aws-for-startups/67-capstone-architecture.mdx
  apps/web/src/content/blog/aws-for-startups/68-capstone-deployment.mdx
  apps/web/src/content/blog/aws-for-startups/69-capstone-operations.mdx
  apps/web/src/content/blog/aws-for-startups/70-capstone-review-graduation.mdx
Due: none

chore: drop pnpm build from pre-commit hook
  .husky/pre-commit
Due: none

chore: remove debug console.logs from production components
  apps/web/src/components/blog/code/FileTree.astro
  apps/web/src/components/shared/TOCMinimap.astro
Due: eslint --fix, prettier --write

chore: drop unused happy-dom devDependency
  apps/web/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: move /aws redirect from runtime page to edge _redirects
  apps/web/public/_redirects
  apps/web/src/pages/aws.astro
Due: eslint --fix, prettier --write

perf: defer CLICommandCopy hydration with client:visible
  apps/web/src/components/labs/CLICommand.astro
Due: eslint --fix, prettier --write

refactor: drop .poc suffix from code-switcher plugins
  apps/web/astro.config.mjs
  apps/web/src/utils/rehypeCodeSwitcher.ts
  apps/web/src/utils/remarkCodeSwitcher.ts
Due: eslint --fix, prettier --write

refactor: consolidate labs schemas to a single source of truth
  apps/web/src/content/config.ts
Due: eslint --fix, prettier --write

refactor: type ModuleStatus from schema, restore inline content/config schemas
  apps/web/src/components/labs/ModuleCard.astro
  apps/web/src/components/labs/layout/LabsSidebar.astro
  apps/web/src/content/config.ts
  apps/web/src/content/labs/schemas.ts
  apps/web/src/data/labs-modules.ts
Due: eslint --fix, prettier --write

refactor: alias :root vars to @theme values in global.css
  apps/web/src/styles/global.css
Due: prettier --write

ci: cache Playwright browsers in E2E job
  .github/workflows/ci.yml
Due: none

refactor: extract attachCopyButtons clipboard utility
  apps/web/src/components/blog/code/Command.astro
  apps/web/src/components/blog/code/TerminalOutput.astro
  apps/web/src/components/blog/guide/EnvVar.astro
  apps/web/src/utils/clipboard.ts
Due: eslint --fix, prettier --write

test: add Vitest coverage for remark plugins
  apps/web/src/utils/remarkCallouts.test.ts
  apps/web/src/utils/remarkCodeMeta.test.ts
  apps/web/src/utils/remarkCodeSwitcher.test.ts
  apps/web/src/utils/remarkSteps.test.ts
Due: eslint --fix, prettier --write

test: add Playwright smoke tests for blog routes
  apps/web/e2e/blog.spec.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,astro}
  prettier --write: (any of: *.{js,ts,astro}) or (any of: *.{css,json,md})
