Repository hionnode/akasha-lekha: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,astro}": ["eslint --fix", "prettier --write"],
  "*.{css,json,md}": ["prettier --write"]
}

feat: update GitHub Actions for monorepo architecture
  .github/workflows/api-deploy.yml
  .github/workflows/ci.yml
  .github/workflows/web-preview.yml
  .github/workflows/web-production.yml
  .readme/architecture/ci-cd.md
Due: prettier --write

feat: use AWS OIDC for keyless authentication
  .github/workflows/api-deploy.yml
  .readme/architecture/ci-cd.md
  .readme/aws-oidc-setup.md
Due: prettier --write

docs: update all documentation with accurate schemas and ASCII diagrams
  .readme/architecture/backend-sst.md
  .readme/architecture/blog.md
  .readme/architecture/ci-cd.md
  .readme/architecture/labs.md
  .readme/architecture/overview.md
  .readme/sst-api-development.md
  CLAUDE.md
Due: prettier --write

docs: update all documentation with accurate schemas and ASCII diagrams (#9)
  .readme/architecture/backend-sst.md
  .readme/architecture/blog.md
  .readme/architecture/ci-cd.md
  .readme/architecture/labs.md
  .readme/architecture/overview.md
  .readme/sst-api-development.md
  CLAUDE.md
Due: prettier --write

fix: update CI workflow with blog validation and improved checks
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  scripts/validate-blog-posts.mjs
Due: prettier --write

fix: update CI workflow with blog validation and improved checks (#10)
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  scripts/validate-blog-posts.mjs
Due: prettier --write

docs: add architect recommendations audit for labs backend
  .gitignore
  .husky/pre-commit
  docs/implementation-plan/architect-recommendations.md
  packages/api/sst-env.d.ts
  packages/api/tsconfig.json
Due: eslint --fix, prettier --write

docs: add architect recommendations audit for labs backend (#12)
  .gitignore
  .husky/pre-commit
  docs/implementation-plan/architect-recommendations.md
  packages/api/sst-env.d.ts
  packages/api/tsconfig.json
Due: eslint --fix, prettier --write

content: rewrite Part 1 of AWS series to match new content plan
  apps/web/src/content/blog/aws-for-startups/01-your-first-60-minutes-in-aws.mdx
Due: none

fix: add cross-pollination restore keys for Astro build cache
  .github/workflows/web-preview.yml
  .github/workflows/web-production.yml
Due: none

fix: resolve ESLint errors across API and web packages
  apps/web/src/components/labs/layout/LabsSidebar.astro
  apps/web/src/content/labs/schemas.test.ts
  apps/web/src/pages/labs/dashboard.astro
  apps/web/src/pages/labs/modules/[...slug].astro
  eslint.config.js
  packages/api/src/functions/auth/verify.ts
  packages/api/src/functions/exercises/get.ts
  packages/api/src/functions/progress/get.ts
  packages/api/src/functions/progress/record.ts
Due: eslint --fix, prettier --write

fix: add web tsconfig and resolve 112 type errors
  apps/web/src/pages/labs/modules/[...slug].astro
  apps/web/tsconfig.json
Due: eslint --fix, prettier --write

content: rewrite Part 1 of AWS series to match new content plan (#14)
  .github/workflows/web-preview.yml
  .github/workflows/web-production.yml
  apps/web/src/components/labs/layout/LabsSidebar.astro
  apps/web/src/content/blog/aws-for-startups/01-your-first-60-minutes-in-aws.mdx
  apps/web/src/content/labs/schemas.test.ts
  apps/web/src/pages/labs/dashboard.astro
  apps/web/src/pages/labs/modules/[...slug].astro
  apps/web/tsconfig.json
  eslint.config.js
  packages/api/src/functions/auth/verify.ts
  packages/api/src/functions/exercises/get.ts
  packages/api/src/functions/progress/get.ts
  packages/api/src/functions/progress/record.ts
Due: eslint --fix, prettier --write

docs: add CS fundamentals research deliverable
  docs/content-plan/cs-fundamentals/00-overview.md
  docs/content-plan/cs-fundamentals/01-subject-analysis.md
  docs/content-plan/cs-fundamentals/02-pedagogy-by-subject.md
  docs/content-plan/cs-fundamentals/03-platform-formats.md
  docs/content-plan/cs-fundamentals/04-retention-and-progress.md
  docs/content-plan/cs-fundamentals/05-options.md
Due: prettier --write

content: add Part 6 of AWS series — Git & GitHub workflow with agents
  apps/web/src/content/blog/aws-for-startups/06-git-github-agents.mdx
Due: none

content: add Part 6 of AWS series — Git & GitHub workflow with agents (#15)
  apps/web/src/content/blog/aws-for-startups/06-git-github-agents.mdx
Due: none

docs: add CS fundamentals research deliverable (#17)
  docs/content-plan/cs-fundamentals/00-overview.md
  docs/content-plan/cs-fundamentals/01-subject-analysis.md
  docs/content-plan/cs-fundamentals/02-pedagogy-by-subject.md
  docs/content-plan/cs-fundamentals/03-platform-formats.md
  docs/content-plan/cs-fundamentals/04-retention-and-progress.md
  docs/content-plan/cs-fundamentals/05-options.md
Due: prettier --write

chore: delete placeholder pages and unused remark/rehype plugins
  apps/web/astro.config.mjs
  apps/web/src/components/tui/ContentList.astro
  apps/web/src/components/tui/ContentTypeNav.astro
  apps/web/src/components/tui/ContentViewer.astro
  apps/web/src/components/tui/KeybindingSelector.astro
  apps/web/src/components/tui/LoadingAnimation.astro
  apps/web/src/components/tui/SearchBar.astro
  apps/web/src/components/tui/StatusBar.astro
  apps/web/src/components/tui/TUIController.ts
  apps/web/src/components/tui/TUIInitializer.astro
  apps/web/src/components/tui/TUILayout.astro
  apps/web/src/components/tui/TagFilter.astro
  apps/web/src/components/tui/TerminalInstructions.astro
  apps/web/src/pages/monitoring.astro
  apps/web/src/pages/tui.astro
  apps/web/src/utils/rehypeCodeSwitcher.ts
  apps/web/src/utils/rehypePackageManager.ts
  apps/web/src/utils/remarkCodeSwitcher.ts
  apps/web/src/utils/remarkPackageManager.ts
  apps/web/src/utils/tuiHelpers.ts
Due: eslint --fix, prettier --write

fix: add Labs and Tools to navigation, fix 404 page and aws-latency warning
  apps/web/src/components/layout/Footer.astro
  apps/web/src/components/layout/Header.astro
  apps/web/src/pages/404.astro
  apps/web/src/pages/tools/aws-latency.astro
Due: eslint --fix, prettier --write

feat: add robots.txt and sitemap for SEO
  apps/web/public/robots.txt
Due: none

ci: remove api and types jobs from CI workflow
  .github/workflows/ci.yml
Due: none

docs: archive session notes and backend docs to _draft/
  _draft/docs/CONSOLIDATION_COMPLETE.md
  _draft/docs/FIXES_IMPLEMENTED.md
  _draft/docs/IMPROVEMENTS_COMPLETED.md
  _draft/docs/PRE_COMMIT_CI_CD_IMPLEMENTATION_SUMMARY.md
  _draft/docs/PRE_COMMIT_HOOKS_FIXED.md
  _draft/docs/SIDEBAR_FIXES_COMPLETE.md
  _draft/docs/SST_UI_ENHANCEMENTS_COMPLETE.md
  _draft/docs/THREE_COLUMN_LAYOUT_IMPLEMENTATION.md
  _draft/docs/TOC_HIERARCHY_ENHANCEMENT.md
  _draft/docs/TOC_HIERARCHY_FIX_COMPLETE.md
  _draft/docs/TYPOGRAPHY_IMPROVEMENTS.md
  _draft/docs/UX_AUDIT_DEVELOPER_FOCUS.md
  _draft/docs/UX_QA_REPORT.md
  _draft/docs/UX_QA_REPORT_BROWSER.md
  _draft/docs/architecture.md
  _draft/docs/implementation-plan/architect-recommendations.md
  _draft/docs/implementation-plan/implementation-plan.md
  _draft/docs/labs-plan.md
  _draft/docs/ux-qa-improvements-plan.plan.md
  docs/GITHUB_SECRETS_SETUP.md
  docs/INDEX.md
  docs/architecture.md
  docs/labs-implementation-plan.md
  docs/labs-setup.md
  docs/sst-backend-setup.md
Due: prettier --write

docs: update CLAUDE.md to reflect frontend-only project state
  CLAUDE.md
Due: prettier --write

content: publish Part 6, add Part 7 (Branch Protection & PR Workflow)
  apps/web/src/content/blog/aws-for-startups/06-git-github-agents.mdx
  apps/web/src/content/blog/aws-for-startups/07-branch-protection-pr.mdx
Due: none

content: publish Part 6, add Part 7 (Branch Protection & PR Workflow) (#20)
  apps/web/src/content/blog/aws-for-startups/06-git-github-agents.mdx
  apps/web/src/content/blog/aws-for-startups/07-branch-protection-pr.mdx
Due: none

content: Phase 2 — Part 8 (Pre-Commit Hooks) and Part 9 (Agent Context & Evals)
  apps/web/src/content/blog/aws-for-startups/08-pre-commit-code-quality.mdx
  apps/web/src/content/blog/aws-for-startups/09-monorepo-context-evals.mdx
Due: none

content: Phase 3 — Parts 10-12 (Local Development)
  apps/web/src/content/blog/aws-for-startups/10-docker-compose-local.mdx
  apps/web/src/content/blog/aws-for-startups/11-database-migrations.mdx
  apps/web/src/content/blog/aws-for-startups/12-env-vars-secrets-security.mdx
Due: none

content: Phase 4 — Parts 13-19 (Frontend Deployment)
  apps/web/src/content/blog/aws-for-startups/13-s3-static-hosting.mdx
  apps/web/src/content/blog/aws-for-startups/14-route53-acm-dns.mdx
  apps/web/src/content/blog/aws-for-startups/15-cloudfront-cdn.mdx
  apps/web/src/content/blog/aws-for-startups/16-user-uploads-s3.mdx
  apps/web/src/content/blog/aws-for-startups/17-frontend-react-astro.mdx
  apps/web/src/content/blog/aws-for-startups/18-frontend-svelte-solid.mdx
  apps/web/src/content/blog/aws-for-startups/19-preview-environments.mdx
Due: none

content: Phase 5 — Parts 20-22 (Networking)
  apps/web/src/content/blog/aws-for-startups/20-vpc-fundamentals.mdx
  apps/web/src/content/blog/aws-for-startups/21-security-groups.mdx
  apps/web/src/content/blog/aws-for-startups/22-alb-load-balancer.mdx
Due: none
