Repository hionnode/akasha-lekha: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,astro}": ["eslint --fix", "prettier --write"],
  "*.{css,json,md}": ["prettier --write"]
}

feat: basic changes
  .github/workflows/pr-preview.yml
  .github/workflows/production-deploy.yml
  .prettierignore
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  public/.assetsignore
  scripts/validate-blog-posts.mjs
  src/content/blog/2024-12-10-terraform-best-practices.md
  src/content/blog/2024-12-15-monitoring-observability.md
  src/content/blog/2024-12-20-docker-security.md
  src/styles/global.css
  wrangler.jsonc
Due: prettier --write

feat: rectified filetree and panel switcher components
  src/components/shared/FileTree.astro
  src/components/shared/PanelSwitcher.astro
Due: eslint --fix, prettier --write

feat: first blog
  llm_guide.md
  package.json
  pnpm-lock.yaml
  src/components/shared/Alert.astro
  src/components/shared/ApiEndpoint.astro
  src/components/shared/AwsRegionLatency.astro
  src/components/shared/Command.astro
  src/components/shared/DiffViewer.astro
  src/components/shared/FileTree.astro
  src/components/shared/PanelSwitcher.astro
  src/components/shared/TerminalOutput.astro
  src/content/blog/2025-01-15-mdx-features-showcase.mdx
  src/content/blog/aws-for-startups/01-your-first-60-minutes-in-aws.mdx
  src/content/blog/component-guide/01-code-display-components.mdx
  src/content/blog/component-guide/02-interactive-components.mdx
  src/content/blog/component-guide/03-devops-components.mdx
  src/content/blog/mdx-mastery-series/01-getting-started.mdx
  src/content/blog/mdx-mastery-series/02-advanced-components.mdx
  src/content/blog/mdx-mastery-series/03-best-practices.mdx
  src/content/blog/mdx-mastery-series/04-code-focused-components.mdx
  src/pages/index.astro
  src/pages/tools/aws-latency.astro
  user_guide.md
Due: eslint --fix, prettier --write

feat: add collapsible GuideStep component with progress tracking
  src/components/shared/GuideStep.astro
  src/content/blog/aws-for-startups/01-your-first-60-minutes-in-aws.mdx
Due: eslint --fix, prettier --write

feat: implement comprehensive technical SEO improvements
  src/components/shared/SEO.astro
  src/content/blog/aws-for-startups/01-your-first-60-minutes-in-aws.mdx
  src/content/config.ts
  src/layouts/Layout.astro
  src/pages/blog/[...slug].astro
Due: eslint --fix, prettier --write

feat: add interactive validation checklist with progress tracking
  src/components/shared/ValidationChecklist.astro
  src/content/blog/aws-for-startups/01-your-first-60-minutes-in-aws.mdx
Due: eslint --fix, prettier --write

feat: added pr preview action
  .github/workflows/pr-preview.yml
Due: none

feat: implement bidirectional state sync between GuideStep and ValidationChecklist
  .github/workflows/hello.yml
  src/components/shared/GuideStep.astro
  src/components/shared/ValidationChecklist.astro
  src/content/blog/aws-for-startups/01-your-first-60-minutes-in-aws.mdx
Due: eslint --fix, prettier --write

feat: add ASCII diagrams to enhance visual understanding
  src/content/blog/aws-for-startups/01-your-first-60-minutes-in-aws.mdx
Due: none

feat: updated the action to use pnpm cache
  .github/workflows/pr-preview.yml
Due: none

feat: rectify npm command
  .github/workflows/pr-preview.yml
Due: none

feat: rectified pnpm command
  .github/workflows/pr-preview.yml
Due: none

feat: rectified production deploy
  .github/workflows/production-deploy.yml
  src/content/blog/aws-for-startups/01-your-first-60-minutes-in-aws.mdx
Due: none

feat: content changes
  src/content/blog/aws-for-startups/01-your-first-60-minutes-in-aws.mdx
Due: none

Ux audit (#4)
  .github/workflows/hello.yml
  .github/workflows/pr-preview.yml
  .github/workflows/production-deploy.yml
  llm_guide.md
  package.json
  pnpm-lock.yaml
  src/components/shared/Alert.astro
  src/components/shared/ApiEndpoint.astro
  src/components/shared/AwsRegionLatency.astro
  src/components/shared/Command.astro
  src/components/shared/DiffViewer.astro
  src/components/shared/FileTree.astro
  src/components/shared/GuideStep.astro
  src/components/shared/PanelSwitcher.astro
  src/components/shared/SEO.astro
  src/components/shared/TerminalOutput.astro
  src/components/shared/ValidationChecklist.astro
  src/content/blog/aws-for-startups/01-your-first-60-minutes-in-aws.mdx
  src/content/blog/component-guide/01-code-display-components.mdx
  src/content/blog/component-guide/02-interactive-components.mdx
  src/content/blog/component-guide/03-devops-components.mdx
  src/content/config.ts
  src/layouts/Layout.astro
  src/pages/blog/[...slug].astro
  src/pages/index.astro
  src/pages/tools/aws-latency.astro
  user_guide.md
Due: eslint --fix, prettier --write

Update production-deploy.yml
  .github/workflows/production-deploy.yml
Due: none

feat: make blog the home page and ensure loader shows for 400ms
  src/components/shared/GlobalLoader.astro
  src/pages/blog/index.astro
  src/pages/index.astro
Due: eslint --fix, prettier --write

feat: add /aws shortcut and update blog post title
  src/content/blog/aws-for-startups/01-your-first-60-minutes-in-aws.mdx
  src/pages/aws.astro
Due: eslint --fix, prettier --write

feat: minor edits
  src/content/blog/aws-for-startups/01-your-first-60-minutes-in-aws.mdx
Due: none

feat: make blog the home page and ensure loader shows for 400ms (#5)
  src/components/shared/GlobalLoader.astro
  src/content/blog/aws-for-startups/01-your-first-60-minutes-in-aws.mdx
  src/pages/aws.astro
  src/pages/blog/index.astro
  src/pages/index.astro
Due: eslint --fix, prettier --write

feat: initial draft
  src/content/blog/aws-for-startups/02-iam-intro-for-starters.mdx
Due: none

feat: sturcture complete
  src/content/blog/aws-for-startups/02-iam-intro-for-starters.mdx
Due: none

feat: adjusted max width
  src/content/blog/aws-for-startups/02-iam-intro-for-starters.mdx
  src/styles/global.css
Due: prettier --write

feat: add collapsible code blocks with ASCII diagram detection and improved blog width
  src/components/shared/CodeBlockEnhancer.astro
  src/content/blog/aws-for-startups/02-iam-intro-for-starters.mdx
  src/styles/global.css
Due: eslint --fix, prettier --write

IAM blog (#6)
  src/components/shared/CodeBlockEnhancer.astro
  src/content/blog/aws-for-startups/02-iam-intro-for-starters.mdx
  src/styles/global.css
Due: eslint --fix, prettier --write

feat: base blog
  src/content/blog/aws-for-startups/03-local-aws-setup.mdx
Due: none

feat: terraform fundamentals
  src/content/blog/aws-for-startups/04-terraform-fundamentals.mdx
Due: none

feat: otel setup
  src/content/blog/aws-for-startups/05-opentelemetry-setup.mdx
Due: none

feat: ux fixes
  .github/workflows/pr-preview.yml
Due: none

feat: base blog (#7)
  .github/workflows/pr-preview.yml
  src/content/blog/aws-for-startups/03-local-aws-setup.mdx
  src/content/blog/aws-for-startups/04-terraform-fundamentals.mdx
  src/content/blog/aws-for-startups/05-opentelemetry-setup.mdx
Due: none

feat: add shared types package
  packages/types/package.json
  packages/types/src/api.ts
  packages/types/src/exercise.ts
  packages/types/src/index.ts
  packages/types/src/progress.ts
  packages/types/src/user.ts
  packages/types/tsconfig.json
Due: eslint --fix, prettier --write

feat: add SST infrastructure configuration
  .gitignore
  infra/api.ts
  infra/auth.ts
  infra/database.ts
  sst.config.ts
Due: eslint --fix, prettier --write

feat: add API package with Lambda handlers
  packages/api/package.json
  packages/api/src/functions/auth/callback.ts
  packages/api/src/functions/auth/github.ts
  packages/api/src/functions/auth/logout.ts
  packages/api/src/functions/auth/verify.ts
  packages/api/src/functions/exercises/get.ts
  packages/api/src/functions/exercises/list.ts
  packages/api/src/functions/progress/get.ts
  packages/api/src/functions/progress/record.ts
  packages/api/src/lib/auth.ts
  packages/api/src/lib/db.ts
  packages/api/src/lib/response.ts
  packages/api/tsconfig.json
Due: eslint --fix, prettier --write

feat: add local development with DynamoDB
  docker-compose.yml
Due: none

chore: update root configs for monorepo
  package.json
  tsconfig.json
Due: prettier --write

docs: add SST and API development guide
  .readme/sst-api-development.md
Due: prettier --write

docs: add comprehensive architecture documentation
  .readme/architecture/backend-sst.md
  .readme/architecture/blog.md
  .readme/architecture/ci-cd.md
  .readme/architecture/labs.md
  .readme/architecture/overview.md
  README.md
Due: prettier --write
